.item:first-child {
 color: green;
}

.item:first-child:hover {
 color: blue;
}

.item:last-child {
color: pink;
}

.item:nth-child(even) {
    color: brown;
}

.item:nth-child(3) {
    color: grey;
}

.item > p:nth-child(3n) {
    color: purple;
}


.item > p:nth-child(3n):hover {
    color: blue;
}

p:active {
  color: blanchedalmond;
}

